<nav class="columns sixteen">
  <ul id="main-nav-bar" class="inline" data-hook>
    <li id="home-link" data-hook>
      <%= link_to 'Home', spree.root_path %>
    </li>
    <li data-hook>>
      <%= link_to 'About', spree.about_us_path %>
    </li>
     <li data-hook>>
      <%= link_to 'Contact', spree.contact_us_path  %>
    </li>
       
    <li id="link-to-cart" data-hook>
      <noscript>
        <%= link_to t('spree.cart'), spree.cart_path %>
      </noscript>
      &nbsp;
    </li>
  </ul>
  <script>Spree.fetch_cart('<%= j spree.cart_link_path %>')</script>
</nav>
